@font-face {
	font-family: 'et-line';
	src: url('../fonts/et-line.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.icon-camera,
.icon-focus {
	font-family: 'et-line';
	padding-right: 23px;
	position: relative;
	top: 1px;
	display: inline-block;
}

.icon-wallet {
	font-family: 'et-line';
	padding-right: 28px;
	position: relative;
	top: 1px;
	display: inline-block;
}


.icon-camera:before {
	content: "\e012";
}

.icon-wallet:before {
	content: "\e016";
}

.icon-focus:before {
	content: "\e01b";
}

@import "normalize";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800');

body {

	font: 300 16px/1 Raleway, sans-serif;
	background-color: #020407;
	color: white;
}

/* Layout */
.ba-container {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1200px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {}

textarea {}


.ba-header {
	padding-top: 66px;
	padding-bottom: 200px;

	&__list {
		margin: 0;
		margin-left: -30px;
		padding: 0;
		list-style: none;
		display: flex;
		justify-content: space-between;
		align-items: center;

		li {
			padding-top: 11px;
		}

		a {
			text-decoration: none;
			text-transform: uppercase;
			color: white;
			letter-spacing: 0.075em;
			font-size: 14px;
			font-weight: 600;

			&:hover {
				color: #ef4836;
			}
		}
	}
}

.ba-about-hero {
	padding-left: 68px;
	padding-top: 4px;
}

.ba-hero {
	background: url(../img/hero_bg.jpg) no-repeat;
	background-size: cover;

	&__photo {
		padding-top: 18px;
		position: relative;
	}

	&__playBtn {
		background-color: white;
		border-radius: 50%;
		border: 8px rgb(170, 170, 170) solid;
		width: 88px;
		height: 88px;
		position: absolute;
		top: 43.5%;
		left: 40.5%;

		img {
			padding-top: 36%;
			padding-left: 45%;
		}
	}

	&__title {
		margin: 0;
		letter-spacing: 0.04em;
		max-width: 400px;
		line-height: 1.38;
		font-size: 48px;
		font-weight: 300;
		text-transform: uppercase;
		margin-bottom: 22px;
		position: relative;

		&:before {
			content: "";
			display: block;
			height: 1px;
			width: 90px;
			background-color: white;
			position: absolute;
			top: 34px;
			left: -133px;
		}
	}

	&__text {
		padding-left: 2px;
		font-weight: 200;
		line-height: 2;
		letter-spacing: 0.083em;
		margin-right: -13px;
		padding-bottom: 18px;
	}

	&__more {
		padding-left: 2px;
		letter-spacing: 0.045em;
		text-decoration: none;
		color: white;
		font-size: 18px;
		font-weight: 700;

		&:hover {
			color: #ef4836;
		}

		svg {
			margin-bottom: -6px;
		}
	}
}

.ba-about {
	padding-top: 73px;
	padding-bottom: 30px;

	&-background {
		background: url('../img/about_bg.jpg') no-repeat;
		margin-left: 0px;
	}

	&__hidden-title {
		position: relative;
		top: 30px;
		font-size: 128px;
		z-index: -1;
		font-weight: 800;
		color: rgba(255, 255, 255, .3);
		margin: 0;
		text-transform: uppercase;
	}

	&__more {
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		color: white;
		letter-spacing: 0.04em;

		&:hover {
			color: #ef4836;
		}

		svg {
			margin-left: 4px;
			margin-bottom: -5px;
		}
	}

	&__allText {
		max-width: 520px;
		padding-top: 125px;
		padding-left: 34px;
		position: relative;
		padding-bottom: 151px;

		p {
			line-height: 1.9;

			&:nth-last-of-type(1) {
				padding-bottom: 22px;
			}

			&:first-of-type {
				&:before {
					content: "";
					display: block;
					height: 1px;
					width: 37px;
					background-color: white;
					position: absolute;
					top: 156px;
					left: -30px;
				}
			}
		}
	}

	&__photo {
		position: relative;

		img {
			position: absolute;
			top: -156px;
			left: 1px;
		}
	}
}

.ba-services {
	position: relative;
	padding-top: 150px;
	padding-bottom: 130px;

	&__hidden-title {
		position: absolute;
		font-size: 128px;
		font-weight: 800;
		color: rgba(255, 255, 255, .3);
		right: -150px;
		text-transform: uppercase;
		top: 70px;
		margin: 0;
	}

	&__title {
		font-size: 24px;
		letter-spacing: 0.065em;
		padding-bottom: 27px;

		&--prof {
			padding-bottom: 29px;
		}

		&--wallet {
			padding-bottom: 30px;
			letter-spacing: 0.055em;
		}
	}

	&__text {
		margin-left: -1px;
		max-width: 300px;
		line-height: 2.2;
		letter-spacing: 0.063em;
		font-size: 14px;
		font-weight: 200;
		padding-bottom: 24px;

		&--prof {
			line-height: 1.95;
			padding-bottom: 28px;
		}

		&--wallet {
			max-width: 350px;
			line-height: 1.9;
			padding-bottom: 29px;
		}

	}

	&__more {
		letter-spacing: 0.045em;
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;
		color: white;


		&:hover {
			color: #ef4836;
		}

		svg {
			margin-left: 4px;
			margin-bottom: -4px;
		}

		&--focus {
			margin-left: -1px;
		}
	}
}

.ba-works {
	position: relative;
	padding-bottom: 100px;

	.ba-container {
		padding-top: 45px;
	}

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-left: 21px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 30px;

		:last-child {
			padding-left: 1.5%;
		}

		a {
			letter-spacing: 0.06em;
			text-decoration: none;
			color: #595959;
			font-size: 14px;
			font-weight: 500;

			&:hover {
				color: white;
			}
		}
	}

	&__hidden-title {
		position: absolute;
		font-size: 128px;
		font-weight: 800;
		color: rgba(255, 255, 255, .3);
		left: 19%;
		text-transform: uppercase;
		z-index: -1;
		padding: 0;
		top: 0px;
		margin: 0;
	}

	&__filters {
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;

		img {
			border-right: 7px solid black;
			border-top: 7px solid black;
		}

		max-height: 625px;
		flex-wrap: wrap;
	}

}

.ba-speeach {
	position: relative;
	// padding-top: 128px;
	padding-top: 28px;
	padding-bottom: 100px;

	&__hidden-title {
		position: relative;
		bottom: -30px;
		text-align: right;
		font-size: 128px;
		margin: 0;
		z-index: -1;
		font-weight: 800;
		color: rgba(255, 255, 255, .3);
		text-transform: uppercase;
	}

	&-background {
		background-color: #ef4836;
		margin-left: 0px;
	}

	&__allText {
		padding-top: 139px;
		margin-left: -13px;
		line-height: 1.9;
		font-style: italic;
		max-width: 500px;

		blockquote {
			margin: 0;
			padding-bottom: 2px;
			position: relative;
			z-index: 2;

			span {
				color: #da3e2d;
				font-weight: 800;
				font-size: 150px;
				position: absolute;
				top: -90px;
				left: -35px;
				z-index: -1;

				&:before {
					content: "";
					display: block;
					width: 90px;
					height: 1px;
					background-color: white;
					position: absolute;
					top: 103px;
					left: -91px;
				}
			}
		}
	}

	&__name {
		font-weight: 700;
		font-style: normal;
		margin-left: -1px;
		padding-bottom: 32px;
	}

	&__photo {
		margin-left: 54px;
		position: absolute;
		top: 106px;
	}

	&__nav-button {
		text-align: right;
		padding-bottom: 60px;

		color: #c23526;

		:hover {
			color: white;
		}

		svg+svg {
			margin-left: 10px;
		}
	}
}

.ba-logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 28px;

	img {
		opacity: 0.4;

		&:hover {
			opacity: 1;
		}
	}
}

.ba-contact {
	padding: 56px 0 49px;

	&-info {
		padding: 77px 81px 67px;
		font-size: 14px;
		background: url(../img/contact-bg.jpg) no-repeat;

		p {
			margin: 0;
		}

		p:last-child {
			letter-spacing: 0.065em;
		}

		&__mail {
			padding-bottom: 40px;
		}

		&__title {
			font-size: 20px;
			padding-bottom: 15px;
			font-weight: 700;
		}

		&__phones {
			p:not(:first-child) {
				padding-bottom: 12px;
			}

			padding-bottom: 24px;
		}

		a {
			letter-spacing: 0.065em;
			text-decoration: none;
			color: inherit;
		}

		&__address {
			max-width: 150px;

			.ba-contact-info__title {
				padding-bottom: 10px;
			}

			:last-child {
				line-height: 1.8;
			}
		}
	}

	.ba-col-7--bg {
		background-color: #131313;
	}

	&__form {
		max-width: 450px;

		padding: 20px 30px;

		h3 {
			letter-spacing: 0.06em;
			font-size: 30px;
			font-weight: 300;
			position: relative;

			&:before {
				content: "";
				position: absolute;
				display: block;
				border-bottom: 1px solid white;
				width: 90px;
				top: 15px;
				left: -129px;
			}
		}

		input,
		textarea {
			border: none;
			outline: none;
			margin: 0;
			padding: 0;
			background-color: transparent;
			border-bottom: 1px solid #2b2b2b;
			color: #2b2b2b;
			transition: .1s;
			width: 100%;
			padding-bottom: 14px;
			margin-bottom: 25px;

			&::placeholder {
				padding-left: 8px;
				letter-spacing: 0.06em;
			}

			&:focus {

				&::placeholder {
					color: #2967bd;
				}

				border-bottom: 1px solid #2967bd;
				color: #2967bd;
			}
		}

		button {
			letter-spacing: 0.04em;
			padding-top: 4px;
			margin-left: -7px;
			border: none;
			color: white;
			font-size: 18px;
			font-weight: 700;
			background-color: transparent;

			&:hover {
				color: #ef4836;
			}

			svg {
				margin-left: 10px;
				position: relative;
				top: 4px;
			}
		}

		[name="message"] {
			padding-bottom: 9px;

		}

		[type="email"] {
			padding-bottom: 12px;
			margin-bottom: 28px;
		}
	}
}

.ba-hidden {
	display: none;
}

.ba-footer {
	.ba-col-4 {
		&__leftblock {
			display: flex;
			align-items: center;

			p {
				display: inline;
				margin: 0;
				font-size: 14px;
				padding-left: 19px;
				letter-spacing: 0.075em;
				color: #565656;
			}
		}
	}

	.ba-col-5__rightblock {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		a {
			text-decoration: none;
			color: inherit;
		}

		svg {
			margin-top: -3px;
			margin-left: 16px;

			&:hover {
				color: #2866bd;
			}
		}
	}
}